.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-bg-primary);
}

.navbar-spacer {
  height: 68px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}